*{ box-sizing: border-box; margin: 0; padding: 0;}

.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}

[class*='col-']{
    float: left;
    // border: 1px solid gray;
}
.row::after{
    content: ' ';
    clear: both;
    display: block;
}

/* All Section Height */
.header-top-height{ height: 70px;}
.header-bottom-height{ height: 630px;}
.service-sec-height{ height: 800px;}
.company-info-sec-height{ height: 480px;}
.app-presentation-sec-height{
     height: 1700px;
     .app-presentation-box{
         height: 550px;
     }
     .app-pre-everything-container{
         height: 500px;
     }
}
.video-sec-height{
     height: 580px;
    }
.download-sec-height{ height: 500px;}
.quote-sec-height{ height: 350px;}
.app-add-sec-height{ height: 800px;}
.big-footer-sec-height{ height: 800px;}
.footer-sec-height{ height: 100px;}
