$background-color :  #223047;
$com-bg-color: #323a4d;
$font-color: #fff;
$border-color: #4e596c;
$w-bg-border-color: #00fff0;
$btn-bg-color: #00fff0;
$btn-text-color: #233148;
$w-bg-text-color: #233148;
$com-info-content-color: #97a4be;
$com-info-bg-color: #f5f6fa;
$app-pre-text-color: #1e4c5e;
$app-pre-icon-color: #2c3233;
$app-bg-color: #00fff0;