* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*='col-'] {
  float: left;
}

.row::after {
  content: ' ';
  clear: both;
  display: block;
}

/* All Section Height */
.header-top-height {
  height: 70px;
}

.header-bottom-height {
  height: 630px;
}

.service-sec-height {
  height: 800px;
}

.company-info-sec-height {
  height: 480px;
}

.app-presentation-sec-height {
  height: 1700px;
}

.app-presentation-sec-height .app-presentation-box {
  height: 550px;
}

.app-presentation-sec-height .app-pre-everything-container {
  height: 500px;
}

.video-sec-height {
  height: 580px;
}

.download-sec-height {
  height: 500px;
}

.quote-sec-height {
  height: 350px;
}

.app-add-sec-height {
  height: 600px;
}

.big-footer-sec-height {
  height: 550px;
}

.footer-sec-height {
  height: 100px;
}

/* header-top-sec-start */
.container {
  background: #223047;
}

.header-top-cont {
  border-bottom: 1px solid #4e596c;
}

.header-top {
  margin-left: 8.33%;
}

.logo-part img {
  padding: 16px 0px;
}

.manu-part ul {
  list-style-type: none;
  width: 100%;
  margin: 0px 5%;
}

.manu-part ul li {
  float: left;
  width: 30%;
}

.manu-part ul a {
  display: block;
  line-height: 70px;
  text-decoration: none;
  color: #fff;
}

.icon-part button, span {
  margin: 15px 0px;
  float: right;
}

.icon-part span {
  margin-left: 30px;
  font-size: 30px;
  color: #fff;
}

.icon-part button {
  width: 140px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background: #00fff0;
  color: #233148;
  font-weight: 600;
}

/* header-top-sec-end */
/* header-bottom-sec-start */
.header-bottom {
  margin: 0px 8.33%;
  /* position: relative; */
}

.hed-box-cont {
  margin: 170px 4.165% 0px 4.165%;
}

.header-content h1 {
  color: #fff;
  font-size: 39px;
  margin-bottom: 40px;
  padding: 20px;
}

.header-content p {
  color: #8795ae;
  font-size: 13.8px;
  line-height: 30px;
  margin-bottom: 40px;
  padding: 20px;
}

.header-img {
  position: relative;
  margin-left: 4.165%;
}

.header-img img {
  position: absolute;
  top: 130px;
  left: 100px;
}

.header-btn-one {
  float: left;
  padding-left: 20px;
}

.header-btn-one a {
  border-radius: 6px;
  border: 1px solid #c4c8ce;
  color: #233148;
  background: #00fff0;
  font-size: 13.8px;
  font-weight: 600;
  line-height: 40px;
  padding: 11px 33px;
  text-decoration: none;
}

.header-btn-two {
  float: left;
  margin-left: 20px;
  width: 170px;
  height: 40px;
}

.header-btn-two a {
  border-radius: 6px;
  border: 1px solid #c4c8ce;
  color: #fff;
  font-size: 13.8px;
  font-weight: 600;
  line-height: 40px;
  padding: 11px 33px;
  text-decoration: none;
}

/* header-bottom-sec-end */
/* header-sec-end */
/* service-sec-start */
.service-container {
  margin: 200px 0px 0px 0px;
}

.service-sec {
  margin: 0px 8.33%;
}

.service-heading {
  text-align: center;
  padding: 0px 30px;
  margin: 0px 33.32%;
}

.service-heading h1 {
  color: #233148;
}

.service-border-buttom {
  width: 40%;
  margin: 80px 0px 0px 30%;
  border: 4px solid #00fff0;
}

.service-box-cont {
  margin: 130px 0px 0px 0px;
}

.service-box {
  margin: 0px 4.165%;
  -webkit-box-shadow: 0px 15px 10px -15px #111;
          box-shadow: 0px 15px 10px -15px #111;
}

.service-box img {
  margin: 0px 18%;
}

.service-box h3 {
  text-align: center;
  margin: 33px 0px;
}

.service-box p {
  text-align: center;
  line-height: 30px;
}

/* service-sec-end */
/*company-info-section-start*/
.com-info-sec-container .com-info-box {
  height: 100%;
  background: #323a4d;
}

.com-info-sec-container .com-info-content-container {
  margin-left: 8.33%;
  background: #f5f6fa;
}

.com-info-sec-container .com-info-content-container .com-info-heding {
  margin: 110px 40% 30px 0;
}

.com-info-sec-container .com-info-content-container .com-info-content {
  line-height: 28px;
  color: #97a4be;
}

/*company-info-section-end*/
/*app-presentation-section-start*/
.app-presentation-sec-container .app-presentation-box-container {
  margin-top: 120px;
}

.app-presentation-sec-container .app-presentation-box-container .app-per-container-box {
  text-align: right;
  padding-left: 20%;
}

.app-presentation-sec-container .app-presentation-box-container .app-per-container-box h1 {
  margin-bottom: 50px;
}

.app-presentation-sec-container .app-presentation-box-container .app-per-container-box p {
  line-height: 25px;
  color: #97a4be;
  text-align: justify;
  margin-bottom: 50px;
}

.app-presentation-sec-container .app-presentation-box-container .app-per-container-box a {
  border-radius: 6px;
  border: 1px solid #c4c8ce;
  color: #233148;
  background: #00fff0;
  font-size: 13.8px;
  font-weight: 600;
  line-height: 40px;
  padding: 11px 33px;
  text-decoration: none;
}

.app-presentation-sec-container .app-presentation-box-container .app-per-img-box img {
  margin: 0px 0px 0px 30px;
}

.app-presentation-sec-container .app-presentation-box-container-two {
  margin: 60px 0px;
  color: #1e4c5e;
}

.app-presentation-sec-container .app-presentation-box-container-two .app-pre-img-container img {
  margin: 0px 0px 0px 30%;
}

.app-presentation-sec-container .app-presentation-box-container-two .app-pre-content-box-container .app-pre-box {
  width: 75%;
  height: 80px;
  margin: 30px 0px 20px 6%;
  -webkit-box-shadow: 0px 10px 10px -15px #111;
          box-shadow: 0px 10px 10px -15px #111;
}

.app-presentation-sec-container .app-presentation-box-container-two .app-pre-content-box-container .app-pre-box .app-pre-box-icon {
  height: 100%;
  margin-left: 8%;
}

.app-presentation-sec-container .app-presentation-box-container-two .app-pre-content-box-container .app-pre-box .app-pre-box-icon i {
  font-size: 28px;
  padding: 25px 0px;
  color: #2c3233;
}

.app-presentation-sec-container .app-presentation-box-container-two .app-pre-content-box-container .app-pre-box .app-pre-box-cont h3 {
  padding: 28px 0px 0px 10px;
}

.app-presentation-sec-container .app-presentation-box-container-two .app-pre-content-box-container .app-bg-color {
  background: #00fff0;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box {
  margin-top: 100px;
  text-align: right;
  padding-left: 20%;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box h1 {
  margin-bottom: 40px;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box .app-pre-checkbox {
  text-align: left;
  padding-left: 70%;
  margin: 5px 0px;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box .app-pre-checkbox-two {
  margin-bottom: 40px;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box p {
  line-height: 25px;
  color: #97a4be;
  text-align: justify;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box-two {
  position: relative;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box-two .app-pre-only-box-one {
  height: 300px;
  width: 200px;
  left: 150px;
  top: 150px;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box-two .app-pre-only-box-two {
  height: 280px;
  width: 200px;
  left: 350px;
  top: 170px;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box-two .app-pre-only-box-three {
  height: 450px;
  width: 200px;
  background: #2c3233;
  left: 250px;
}

.app-presentation-sec-container .app-pre-everything-container .app-pre-et-box-two .app-pre-only-boxs {
  -webkit-box-shadow: 0px 1px 25px 1px #111;
          box-shadow: 0px 1px 25px 1px #111;
  float: left;
  position: absolute;
}

/* app-presentation-section-end*/
/* video-section-start*/
.video-sec-container {
  background: #223047;
}

.video-sec-container .video-sec-box-container {
  margin: 0px 25%;
}

.video-sec-container .video-sec-box-container .video-sec-logo {
  color: #00fff0;
  font-size: 100px;
  margin: 20% 0% 40px 43%;
}

.video-sec-container .video-sec-box-container h3 {
  text-align: center;
  color: #fff;
  margin: 30px;
}

.video-sec-container .video-sec-box-container p {
  color: #fff;
  line-height: 30px;
  text-align: center;
}

/* video-section-end*/
/* download-part-section-start*/
.download-part-container {
  background: white;
}

.download-part-container .download-part-containt-box {
  margin: 150px 25%;
  text-align: center;
}

.download-part-container .download-part-containt-box h1 {
  margin-bottom: 40px;
  color: #233148;
}

.download-part-container .download-part-containt-box p {
  margin-bottom: 70px;
  color: #233148;
}

.download-part-container .download-part-containt-box a {
  border-radius: 6px;
  border: 1px solid #c4c8ce;
  color: #233148;
  background: #00fff0;
  font-size: 13.8px;
  font-weight: 600;
  line-height: 40px;
  padding: 11px 33px;
  text-decoration: none;
}

/* download-part-section-end*/
/* quote-section-start*/
.quote-section-container {
  background: #223047;
}

.quote-section-container .quote-section-content-box {
  margin: 120px 25%;
}

.quote-section-container .quote-section-content-box p {
  text-align: center;
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  word-spacing: 2px;
}

/* quote-section-end*/
/* app-add-section-start*/
.app-add-container {
  margin: 80px 0px;
}

.app-add-container .app-img-container .app-img-box {
  margin: 0px 0px 0px 33.33%;
  position: relative;
}

.app-add-container .app-img-container .app-img-box .app-img-one {
  height: 420px;
  position: absolute;
  top: 65px;
  left: 160px;
}

.app-add-container .app-img-container .app-img-box .app-img-two {
  height: 500px;
  position: absolute;
}

.app-add-container .app-content-container {
  text-align: left;
  margin: 110px 0px 0px 50%;
  padding: 0px 30px;
}

.app-add-container .app-content-container h1 {
  color: #233148;
  margin: 0px 0px 40px 0px;
}

.app-add-container .app-content-container p {
  color: #a4afc6;
  margin: 0px 0px 50px 0px;
}

.app-add-container .app-content-container .app-store-img .app-store-img-one {
  border-radius: 4px;
}

.app-add-container .app-content-container .app-store-img .app-store-img-two {
  border-radius: 4px;
  margin: 0px 5%;
}

.app-add-container .app-sec-get-app-button {
  height: 100px;
  margin-top: 250px;
  text-align: center;
}

.app-add-container .app-sec-get-app-button button {
  width: 250px;
  height: 55px;
  border-radius: 6px;
  border: none;
  background: #00fff0;
  color: #233148;
  font-weight: 600;
  font-size: 18px;
}

/* app-add-section-end*/
/* big-footer-section-start*/
.big-footer-section-container .big-footer-section-box-container {
  margin: 0px 8.33%;
}

.big-footer-section-container .big-footer-section-box-container .big-footer-container-box {
  margin-left: 3.332%;
}

.big-footer-section-container .big-footer-section-box-container .big-footer-container-box h3 {
  margin: 20px 0px;
}

.big-footer-section-container .big-footer-section-box-container .big-footer-container-box a {
  display: block;
  margin: 10px 0px;
  text-decoration: none;
  color: #97a4be;
}

.big-footer-section-container .big-footer-section-box-container .big-footer-get-in-tuch-bar {
  margin-top: 100px;
  text-align: center;
}

.big-footer-section-container .big-footer-section-box-container .big-footer-get-in-tuch-bar h1 {
  color: #233148;
}

.big-footer-section-container .big-footer-section-box-container .big-footer-get-in-tuch-bar p {
  color: #a5b0c7;
}

.big-footer-section-container .big-footer-section-box-container .big-footer-count-me-btn {
  margin: 80px 0px;
  text-align: center;
}

.big-footer-section-container .big-footer-section-box-container .big-footer-count-me-btn button {
  width: 140px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background: #00fff0;
  color: #233148;
  font-weight: 600;
}

/* big-footer-section-end*/
/*footer-section-start*/
.footer-container {
  background: #223047;
}

.footer-container .footer-content-container {
  color: #00fff0;
}

.footer-container .footer-content-container p {
  float: left;
  line-height: 100px;
  margin-left: 200px;
}

.footer-container .footer-content-container .footer-social-media-icon {
  float: right;
}

.footer-container .footer-content-container .footer-social-media-icon i {
  font-size: 28px;
  padding: 0px 10px;
  line-height: 100px;
}

/*footer-section-end*/
/*# sourceMappingURL=style.css.map */