@import './variables';
@import './layout';

/* header-top-sec-start */
.container{
    background: $background-color;
}
.header-top-cont{
    border-bottom: 1px solid $border-color;
}
.header-top{
    margin-left: 8.33%;
}
.logo-part img{
    padding: 16px 0px;
}
.manu-part ul{
    list-style-type: none;
    width: 100%;
    margin: 0px 5%;
    li{
        float: left;
        width: 30%;
    }
        a{
            display: block;
            line-height: 70px;
            text-decoration: none;
            color: #fff;
        }
}

.icon-part button, span{
    margin: 15px 0px;
    float: right;
}
.icon-part span{
    margin-left: 30px;
    font-size: 30px;
    color: #fff;
}
.icon-part button{
    width: 140px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background: #00fff0;
    color: #233148;
    font-weight: 600;
}
/* header-top-sec-end */
/* header-bottom-sec-start */
.header-bottom{
    margin: 0px 8.33%;
    /* position: relative; */
}
.hed-box-cont{
    margin: 170px 4.165% 0px 4.165%;
}
.header-content{
    h1{
        color: #fff;
        font-size: 39px;
        margin-bottom: 40px;
        padding: 20px;
    }
    p{
        color: #8795ae;
        font-size: 13.8px;
        line-height: 30px;
        margin-bottom: 40px;
        padding: 20px;
    }
}
.header-img{
    position: relative;
    margin-left: 4.165%;
    img{
        position: absolute;
        top: 130px;
        left: 100px;
    }
}
.header-btn-one{
    float: left;
    padding-left: 20px;
    a{
        border-radius: 6px;
        border: 1px solid #c4c8ce;
        color: $btn-text-color;
        background: $btn-bg-color;
        font-size: 13.8px;
        font-weight: 600;
        line-height: 40px;
        padding: 11px 33px;
        text-decoration: none;
    }
}
.header-btn-two{
    float: left;
    margin-left: 20px;
    width: 170px;
    height: 40px;
    a{
        border-radius: 6px;
        border: 1px solid #c4c8ce;
        color: #fff;
        font-size: 13.8px;
        font-weight: 600;
        line-height: 40px;
        padding: 11px 33px;
        text-decoration: none;
    }
}
/* header-bottom-sec-end */
/* header-sec-end */
/* service-sec-start */
.service-container{
    margin: 200px 0px 0px 0px ;
}
.service-sec{
    margin: 0px 8.33%;
}
.service-heading{
    text-align: center;
    padding: 0px 30px;
    margin: 0px 33.32%;
    h1{
        color: $w-bg-text-color;
    }
}
.service-border-buttom{
    width: 40%;
    margin: 80px 0px 0px 30%;
    border: 4px solid $w-bg-border-color;
}
.service-box-cont{
    margin: 130px 0px 0px 0px;
}
.service-box{
    margin: 0px 4.165%;
    box-shadow: 0px 15px 10px -15px #111;
    // box-shadow: 0px 5px 10px $border-color;
    img{
        margin: 0px 18%;
    }
    h3{
        text-align: center;
        margin: 33px 0px;
    }
    p{
        text-align: center;
        line-height: 30px;
    }
}
/* service-sec-end */
/*company-info-section-start*/
.com-info-sec-container{

    .com-info-box{
        height: 100%;
        background: $com-bg-color;
    }
    .com-info-content-container{
        margin-left: 8.33%;
        background: $com-info-bg-color;
        .com-info-heding{
            margin: 110px 40% 30px 0;
        }
        .com-info-content{
            line-height: 28px;
            color: $com-info-content-color;
        }
    }
}
/*company-info-section-end*/
/*app-presentation-section-start*/
.app-presentation-sec-container{

    .app-presentation-box-container{
        margin-top: 120px;

        .app-per-container-box{
            text-align: right;
            padding-left: 20%;

            h1{
                margin-bottom: 50px;
            }
            p{
                line-height: 25px;
                color: $com-info-content-color;
                text-align: justify;
                margin-bottom: 50px;
            }
            a{
                border-radius: 6px;
                border: 1px solid #c4c8ce;
                color: $btn-text-color;
                background: $btn-bg-color;
                font-size: 13.8px;
                font-weight: 600;
                line-height: 40px;
                padding: 11px 33px;
                text-decoration: none;
            }
        }
        .app-per-img-box{
            img{
                margin: 0px 0px 0px 30px;
            }
        }
    }
    .app-presentation-box-container-two{
        margin: 60px 0px;
        color: $app-pre-text-color;
        
        .app-pre-img-container{
            
            img{
                margin: 0px 0px 0px 30%;
            }
        }
        .app-pre-content-box-container{

            .app-pre-box{
                width: 75%;
                height: 80px;
                margin: 30px 0px 20px 6%;
                box-shadow: 0px 10px 10px -15px #111;

                .app-pre-box-icon{
                    height: 100%;
                    margin-left: 8%;

                    i{
                        font-size: 28px;
                        padding: 25px 0px;
                        color: $app-pre-icon-color;
                    }
                }
                .app-pre-box-cont{
                    h3{
                        padding: 28px 0px 0px 10px;
                    }
                }
            }
            .app-bg-color{
                background: $app-bg-color;
            }
        }
    }
    .app-pre-everything-container{

        .app-pre-et-box{
            margin-top: 100px;
            text-align: right;
            padding-left: 20%;

            h1{
                margin-bottom: 40px;
            }
            .app-pre-checkbox{
                text-align: left;
                padding-left: 70%;
                margin: 5px 0px;
            }
            .app-pre-checkbox-two{
                margin-bottom: 40px;
            }
            p{
                line-height: 25px;
                color: $com-info-content-color;
                text-align: justify;
            }
        }
        .app-pre-et-box-two{
            position: relative;

            .app-pre-only-box-one{
                height: 300px;
                width: 200px;
                left: 150px;
                top: 150px;
            }
            .app-pre-only-box-two{
                height: 280px;
                width: 200px;
                left: 350px;
                top: 170px;
            }
            .app-pre-only-box-three{
                height: 450px;
                width: 200px;
                background: #2c3233;
                left: 250px;
            }
            .app-pre-only-boxs{
                box-shadow: 0px 1px 25px 1px #111;
                float: left;
                position: absolute;
            }
        }
    }
}

/* app-presentation-section-end*/
/* video-section-start*/
.video-sec-container{
    background: $video-sec-bg-color;

    .video-sec-box-container{
        margin: 0px 25%;

        .video-sec-logo{
            color: $video-sec-icon-color;
            font-size: 100px;
            margin: 20% 0% 40px 43%;
        }
        h3{
            text-align: center;
            color: $font-color;
            margin: 30px;
        }
        p{
            color: $font-color;
            line-height: 30px;
            text-align: center;
        }
    }
}
/* video-section-end*/
/* download-part-section-start*/

.download-part-container{
    background: white;
    .download-part-containt-box{
        margin: 150px 25%;
        text-align: center;
        h1{
            margin-bottom: 40px;
            color: $w-bg-text-color;
        }
        p{
            margin-bottom: 70px;
            
            color: $w-bg-text-color;
        }
        a{
            border-radius: 6px;
            border: 1px solid #c4c8ce;
            color: $btn-text-color;
            background: $btn-bg-color;
            font-size: 13.8px;
            font-weight: 600;
            line-height: 40px;
            padding: 11px 33px;
            text-decoration: none;
        }
    }
}
/* download-part-section-end*/
/* quote-section-start*/
.quote-section-container{
    background: $video-sec-bg-color;
    .quote-section-content-box{
        margin: 120px 25%;
        p{
            text-align: center;
            color: $font-color;
            line-height: 25px;
            font-size: 18px;
            word-spacing: 2px;
        }
    }

}
/* quote-section-end*/

/* app-add-section-start*/
.app-add-container{
    margin: 80px 0px;
    .app-img-container{

        .app-img-box{
            margin: 0px 0px 0px 33.33%;
            position: relative;
            .app-img-one{
                height: 420px;
                position: absolute;
                top: 65px;
                left: 160px;
            }
            .app-img-two{
                height: 500px;
                position: absolute;
            }
        }
    }
    .app-content-container{
        text-align: left;
        margin: 110px 0px 0px 50%;
        padding: 0px 30px;
        h1{
            color: $w-bg-text-color;
            margin:0px 0px 40px 0px;
        }
        p{
            color: $app-add-text-color;
            margin:0px 0px 50px 0px;
        }
        .app-store-img{
            .app-store-img-one{
                border-radius: 4px;
            }
            .app-store-img-two{
                border-radius: 4px;
                margin: 0px 5%;
            }
        }
    }
    .app-sec-get-app-button{
        height: 100px;
        margin-top: 250px;
        text-align: center;
        button{
            width: 250px;
            height: 55px;
            border-radius: 6px;
            border: none;
            background: #00fff0;
            color: #233148;
            font-weight: 600;
            font-size: 18px;
        }
    }
}
/* app-add-section-end*/
/* big-footer-section-start*/
.big-footer-section-container{
    .big-footer-section-box-container{
        margin: 0px 8.33%;
        .big-footer-container-box{
            margin-left: 3.332%;
            h3{
                margin: 20px 0px;
            }
            a{
                display: block;
                margin: 10px 0px;
                text-decoration: none;
                color: $big-footer-text-color;
            }
        }
        .big-footer-get-in-tuch-bar{
            margin-top: 100px;
            text-align: center;
            h1{
                
            color: $w-bg-text-color;
            }
            p{
                color: $big-footer-font-color;
            }
        }
        .big-footer-count-me-btn{
            margin: 80px 0px;
            text-align: center;
            button{
                width: 140px;
                height: 40px;
                border-radius: 6px;
                border: none;
                background: #00fff0;
                color: #233148;
                font-weight: 600;
            }
        }
    }
}
/* big-footer-section-end*/