@keyframes slider{
    /* 0% { background: url(../img/header-img-one-cp.jpg); no-repeat; background-size: cover;} */
    /* 50% { background: url(../img/header-img-two-cp.jpg); no-repeat; background-size: cover;} */
    /* 100% { background: url(../img/header-img-three-cp.jpg); no-repeat; background-size: cover;} */
}
*{ box-sizing: border-box; margin: 0; padding: 0;}

.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}

[class*='col-']{
    float: left;
    /* border: 1px solid gray; */
}
.row::after{
    content: ' ';
    clear: both;
    display: block;
}

/* All Section Height */
.header-top-height{ height: 40px;}
.navigation-height{ height: 100px;}
.header-bottom-height{ height: 520px;}

/* header-top-section-start */
.header-top{
    background: #0174B3;
}
.contact-number-email, .social-icon{
    line-height: 40px;
    color: #fff;
}
/* padding-before-header-top-section */
.contact-number-email .icon-padding-left{
    padding-left: 100px;
}
.contact-number-email i{
    padding: 0px 10px;
}
.social-icon .icon-padding-right{
    padding-right: 100px;
}
.social-icon i{
    float: right;
    line-height: 40px;
    padding: 0px 10px;
}
/* header-top-section-end */

/* navigation-logo-section-start */
.logo-image-cont img{
    width: 100px;
    height: 90px;
    margin-left: 100px;
}
/* navigation-section */
nav{
    /* border: 1px solid; */
}
nav ul{
    width: 100%;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    line-height: 95px
}
nav ul li a{
    /* float: left; */
    padding: 35px 15px;
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    color: #0174B3;
}
/* navigation-section-end */

/* search-section-start */
.search-box form input{
    background: url(../img/searchicon.png) no-repeat;
    background-position: 125px;
    float: right;
    margin: 25px 100px 25px 0px;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
}
/* Search-section-end */

/* header-bottom-section-start */
.header-bottom{
    width: 100%;
    background: url(../img/header-img-one-cp.jpg); no-repeat; background-size: cover;
    /* background: grey; */
    /* position: relative; */
    /* animation: slider 5s infinite; */
}
/* header-content-start */

.content-container{
    width: 40%;
    margin-left: 150px;
    margin-top: 150px;
    border: 1px solid;
}
.content-container h1{
    color: #0286CB;
    font-size: 40px;
    /* margin: 280px 0px 10px 0px; */
}
.content-container p{
    /* color: #C6C7CA; */
    margin-bottom: 30px;
}
.content-container button{
    width: 150px;
    height: 40px;
    background: #017EC1;
    color: #fff;
    border: none;
    box-shadow: 2px 2px 5px white;
}