/* @keyframes slider{
    0% { background: url(../img/header-img-one-cp.jpg); no-repeat; background-size: cover;}
    50% { background: url(../img/header-img-two-cp.jpg); no-repeat; background-size: cover;}
    100% { background: url(../img/header-img-three-cp.jpg); no-repeat; background-size: cover;}
} */
*{ box-sizing: border-box; margin: 0; padding: 0;}

.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}

[class*='col-']{
    float: left;
    border: 1px solid gray;
}
.row::after{
    content: ' ';
    clear: both;
    display: block;
}

/* All Section Height */
.header-top-height{ height: 40px;}
.navigation-height{ height: 100px;}
.header-bottom-height{ height: 520px;}
.main-sec-cont-two-height{ height: 400px;}
.main-sec-cont-three-height{ height: 600px;}

/* header-top-section-start */
.header-top{
    background: #0174B3;
}
.contact-number-email, .social-icon{
    line-height: 40px;
    color: #fff;
}
/* padding-before-header-top-section */
.contact-number-email .icon-padding-left{
    padding-left: 100px;
}
.contact-number-email i{
    padding: 0px 10px;
}
.social-icon .icon-padding-right{
    padding-right: 100px;
}
.social-icon i{
    float: right;
    line-height: 40px;
    padding: 0px 10px;
}
/* header-top-section-end */

/* navigation-logo-section-start */
.logo-image-cont img{
    width: 100px;
    height: 90px;
    margin-left: 100px;
}
/* navigation-section */
nav{
    /* border: 1px solid; */
}
nav ul{
    width: 100%;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    line-height: 95px
}
nav ul li a{
    /* float: left; */
    padding: 35px 15px;
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    color: #0174B3;
}
/* navigation-section-end */

/* search-section-start */
.search-box form input{
    background: url(../img/searchicon.png) no-repeat;
    background-position: 155px;
    float: right;
    margin: 25px 100px 25px 0px;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
}
/* Search-section-end */

/* header-bottom-section-start */
.header-bottom{
    background: url(../img/header-img-three-cp.jpg);
    background-size: cover;
}
.content-container{
    margin: 250px 0px 0px 100px;
}
.content-container h1{
    font-size: 40px;
    margin-bottom: 20px;
    /* color: #0285CB; */
}
.content-container p{
    color: #D8DBE0;
    
    margin-bottom: 20px;
}
.content-container button{
    width: 150px;
    height: 40px;
    background: #0385C9;
    border: none;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 2px 2px 20px #035580;
}
/* header-bottom-section-end */

/* main-content-section start */
.main-section-header{
    margin: 50px 0px 10px 0px;
}
.main-section-header h1{
    color: #0385C9;
    font-size: 30px;
    text-align: center;
}
/* main-content-border-section */
.main-section-border{    
    margin-bottom: 50px;
}
.main-section-border .border-one{
    width: 10%;
    margin: auto;
    border: 1px solid;
}
.main-section-border .border-two{
    width: 8%;
    margin:5px auto;
    border: 1px solid;
}
.main-section-content{
    margin: auto 16.67%;
}
.main-section-content p{
    text-align: center;
}
/* main-content-section end*/

/* main-content-section two start*/
/* .main-section-content-two{} */
.main-section-content-two{
    background: url(../img/main-sec-img-container-two.jpg) no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.img-container{
    margin: 50px 25%;
}
.img-blar{
    background-color: #0000006e;
}
.img-container h3,h1{
    text-align: center;
    color: #fff;
    padding: 10px 0px;
}
.img-container h3{
    font-size: 30px;
    margin-top: 50px;
}
.img-container h1{
    font-size: 50px;
}
.main-img-sec-cont-border{
    border-bottom: 4px solid #B9B3B3;
    width: 20%;
    margin: auto;
}
.main-section-content-two button{
    background: #0174B3;
    color: #fff;
    border: none;
    box-shadow: 2px 2px 8px black;
    width: 150px;
    height: 40px;
    margin-top: 70px;
    margin-left: 39%;
    transition: 0.2s;
}
.main-section-content-two button:hover{
    background: #fff;
    color: #0174B3;
}
/* main-content-section two end*/

/* main-content-section three start */
.main-three-header{
}
.main-three-header h1{
    margin-top: 20px;
    color: #0274b2;
    font-size: 40px;
}
.main-three-team-container{
    background: #D8D8DA;
}
.main-three-box-container{
    margin: 30px 0px;
    padding: 40px 0px;
}
.main-three-box-container .team-mem-box{
    margin-right: 4.16%;
}
.main-three-box-container .team-mem-box:first-child{
    margin-left: 10.41%;
}
.img-cont{
    box-shadow: 5px 10px 18px #888888;
}
.img-cont img{
    width: 100%;
}
.header-cont h3{
    text-align: center;
    color: #0274b2;
    padding: 10px 0px;
}
.header-cont p{
    text-align: center;
    padding: 5px 10px;
}
/* main-content-section three end */