*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #171717;
}
.from-container{
    max-width: 500px;
    width: 100%;
    margin: 60px auto 0px;
    background: #233942;
}
h3, p{
    padding: 10px 0px;
    color: white;
    text-align: center;
}
form > label{
    display: block;
    width: 80%;
    height: 30px;
    margin: 5px auto;
    font-size: large;
    color: white;
}
form > input{
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px;
}
.gender{
    width: 80%;
    margin: auto;
    color: white;
}
