*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #fec107;
    padding: 0 10px;
}
.container{
    max-width: 500px;
    width: 100%;
    margin: auto;
    border: 1px solid blue;
    margin: 20px auto;
    padding: 30px;
    box-shadow: ;
}