*{ box-sizing: border-box; margin: 0px; padding: 0px;}

body{font-family: 'Doppio One', sans-serif;}

.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}

[class*='col-']{
    float: left;
    /* border: 1px solid gray; */
}
[class*='col-5']{
    margin: 20px 0px 20px 6%;
}
/* [class*='col-5']:hover{
    box-shadow: 3px 2px 10px #e2ddcc;
} */
.row::after{
    content: ' ';
    clear: both;
    display: block;
}

/* .container{
    width: 90%;
    height: auto;
    margin: auto;
} */

.logo-nav-height{ height: 50px;}
.header-height{ height: 550px;}
.body-title-height{ height: 60px;}
.body-sml-title-height{ height: 40px;}
.body-element-height{ height: 500px;}
.body-sml-element-height{ height: 300px;}
.footer-height{ height: 80px;}

/* Title Bar */
.title-bar h1{
    text-align: center;
    line-height: 60px;
}

/*header-section start*/
.header-bg-color{ background: #FEC608;}

/* logo-section */
.logo-img{
    height: 35px;
    margin: 5px 0px 0px 100px;
}
/* header-secton end */

/*navigation-section start*/
#logo-nav-bar{
    overflow: hidden;
    position: fixed;
    /* background-color: #333; */
    top: 0;
    width: 100%;
}

nav > ul{
    list-style-type: none;overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
nav > ul > li{
	float: left;
	width: 16.66%;
}
nav > ul > li > a{
	text-decoration: none;
	/*display: block;*/
	padding: 14px 0px;
	/*border: 1px solid blue;*/
	text-align: center;
	line-height: 48px;
	color: #000;
	transition: 1s;
}
nav > ul > li > a:hover{
	color: #fff;
}
/*navigation-section start*/

/* banner-header-section start*/
#header-div{
    margin-top: 50px;
}
header{
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
}
header div{
    margin-top: 170px;
}
.header-content{
    margin: 40px 0px 0px 20px;
    color: #fff;
}
header h1 span{
    color: #FEC608;
}
/* banner-header-section end*/
/* .container-two{
    width: 90%;
} */

/* about-section start*/
.about-my-self img{
    width: 100%;
    height: 100%;
}
.about-my-self-text h1,h3{
    margin-bottom: 20px;
    text-shadow: 3px 3px 10px grey;
}
.about-my-self-text p{
    margin-top: 50px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 180%;
}
/* skill */
.skill-content h1{
    text-align: center;
    margin: 20px 0px;
}
.skill-percantage-container{
    margin-top: 50px;
}
.skill-percantage-container span{
    float: right;
}
.percentage{
    width: 90%;
    height: 30px;
    margin:20px auto;
    background: #EEEEEE;
    border-radius: 15px;
    line-height: 30px;
}
.col-padding-radius{
    border-radius: 15px 0px 0px 15px;
    background: #ffc608;
    padding: 0px 10px;
}

/* Web Design */

.adobe-photoshop{
    width: 70%;
}
.html-css{
    width: 95%;
}
.twitter-bootstrap{
    width: 90%;
}
/* Web Development */
.javascript{
    width: 80%;
}
.php{
    width: 70%;
}
.wordpress{
    width: 95%;
}

/* Resume Section Start*/
.res-cont-box-container{

}
.res-cont-box{
    /* border: 1px solid blue; */
    background: #e9e7e7;
    height: 45%;
    margin: 30px;
    padding: 10px;
}
.res-cont-box h3,h4{
    text-align: center;
}
.res-cont-box h4{
    margin-bottom: 15px;
}
.res-cont-box p{
    text-align: justify;
}
/* Resume Section End*/

/* Service Section Start */
.ser-box-container{
    width: 90%;
    margin: auto;
    /* border: 1px solid blue; */
}
.ser-box{
    width: 30%;
    margin: 1.66%;
}
.ser-img-box{
    border: 1px solid grey;
    width: 50%;
    margin: 15px auto;
    height: 100px;
}
.ser-box h3{
    text-align: center;
}
.ser-box p{
    text-align: center;
}


.port-box-container{
    width: 90%;
    margin: auto;
}
.port-box{
    width: 30%;
    margin: 1.66%;
}

.port-box{
    background: url(../img/port-img-02.PNG) no-repeat;
    background-size: cover;
    /* transition: 0.5s; */
}


.port-box:hover{
    /* background: url(../img/port-img-02.PNG) no-repeat;
    background-size: cover;
    background: #f7d04c; */
    opacity: 0.3;
}

.port-box h3{
    display: inline;
}

.port-box h3{
    display: none;
}
.port-box:hover h3{
    display: block;
    text-align: center;
    text-shadow: none;
    line-height: 300px;
    color: white;
}


/* Contact Section Start */
.contact-us-box{
    width: 50%;
    margin: 200px 0 0 0;
    /* border: 1px solid blue; */
    float: left;
}
.contact-us-box h3{
    text-shadow: none;
}
.contact-us-box p{
    margin: 10px 0px;
}
.contact-us-box .cont-img-box{
    width: 30%;
    margin: 0% 1.5%;
    height: 60px;
    border: 1px solid grey;
    float: left;
}
form{
    margin-top: 130px;
    /* border: 1px solid black; */
}
form input,textarea{
    width: 90%;
    margin: 10px 5%;
    font-size: medium;
    padding: 7px;
    border: 1px solid #D9D9D9;
}
input[type="submit"]{
    width: 40%;
    height: 40px;
    background: #FEC608;
    font-size: 14px;
    font-weight: bolder;
    color: white;
}
input[type="submit"]:hover{
    width: 40%;
    height: 43px;
    background: #4054b2;
    font-size: 15px;
    padding: 10px;
}

footer{
    background: #4c4c4c;
}
footer .text-one{
    line-height: 80px;
    float: left;
    margin-left: 50px;
    color: white;
}
footer .text-two{
    line-height: 80px;
    float: right;
    margin-right: 50px;
    color: white;
}


/*Arror to up home page*/

.arror-to-up{
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
}
