*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/background-image-02.jpg);
    background-size: cover;
}
.form-container{
    width: 360px;
    margin:60px auto;
    /* border: 1px solid black; */
}
/* image-section */

.img-heading img{
    width: 60px;
    margin: 30px 150px 10px 150px;
}
.img-heading h1{
    text-align: center;
    margin-bottom: 20px;
}

/* form section */
.form-cont{
    border: 1px solid #33596B;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #DCDFE0;
}
form{
    width: 90%;
    margin:30px auto 10px;
}
form label{
    width: 100%;
    height: auto;
    font-size: 17px;
}
form input{
    width: 100%;
    margin-bottom: 14px;
    padding: 8px;
    border-radius: 6px;
    opacity: 0.8;
}
form input[type="submit"]{
    background: #2C5363;
    margin-top: 18px;
    border: none;
    opacity: 1.0;
    color: white;
    font-weight: bold;
    padding: 10px;
}
form input[type="submit"]:hover{
    background: #1B252E;
    color: white;
}
span a{
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 105px;
}

/* forget */
span a:hover{
    color: lightblue;
}

/* registration-section */
.reg-section{
    height: 60px;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    border: 1px solid #33596B;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #DCDFE0;
}
.reg-section p,a{
    color: white;
    text-decoration: none;
}
.reg-section a:hover{
    color: lightblue;
}


/* Forget */

.forget-header-h3{
    text-align: center;
    margin-bottom: 10px;
}

form label p{
    text-align: justify;
    margin-bottom: 10px;
}